---
import Section from './Section.astro'
---

<Section title='Model Y' subtitle='Concertar una prueba de condución' color='black'>
  <div slot='footer' class='flex mx-auto gap-x-6'>
    <a
      class='border-[3px] border-gray-600 text-white bg-gray-600 text-sm rounded font-medium px-12 py-2 hover:bg-gray-500 hover:border-gray-500 transition-colors'
      href='#'>
      Explorar inventario</a
    >
    <a
      class='text-black bg-white text-sm rounded font-medium px-12 py-2 hover:bg-black hover:text-white transition-colors inline-flex items-center'
      href='#'>
      Pedido personalizado</a
    >
  </div>
  <img
    slot='background'
    src='/model-y.avif'
    alt='model-y'
    class='h-full w-full object-cover object-center'
  />
</Section>
